<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hearing List</title>
</head>
<body>
<h2>Hearings</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Filing Number</th>
        <th>CNR Number</th>
        <th>Hearing Date</th>
        <th>Judge ID</th>
        <th>Case Type</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hearing : ${hearings}">
        <td th:text="${hearing.id}">ID</td>
        <td th:text="${hearing.filingNumber}">Filing Number</td>
        <td th:text="${hearing.cnrNumber}">CNR</td>
        <td th:text="${hearing.hearingDate}">Date</td>
        <td th:text="${hearing.judgeId}">Judge</td>
        <td th:text="${hearing.caseType}">Type</td>
        <td th:text="${hearing.status}">Status</td>
    </tr>
    </tbody>
</table>

</body>
</html>